


<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Webonise - Geek Hours 2015</title>
</title>
</head>
<body style="padding:0; margin:0;">
  <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="background: url('http://emailers.weboapps.com/Geek-emailer-2015/images/emailBg.jpg');background-size: cover;font-family:sans-serif,Arial,Helvetica;">
    
    <tr>
      <td align="center" style="padding:60px 0 0 0;font-family:sans-serif,Arial,Helvetica;color:#fff;font-size:30px;line-height: 40px;text-transform: uppercase;font-weight: bold;">
        17<sup style="font-size: 14px;line-height: 14px;text-transform: lowercase;">th</sup> to 18<sup style="font-size: 14px;line-height: 14px;text-transform: lowercase;">th</sup> oct 2015,<br /> @ webonise, Pune, India.
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 0 0 20px 0;font-family:sans-serif,Arial,Helvetica;color:#fff;text-transform: uppercase;">
        <p style="font-size:18px;line-height: 40px;margin:0;padding:0">SAT 11:00 AM TO SUN 11:00 AM </p>
        <img src="http://emailers.weboapps.com/Geek-emailer-2015/images/geek-hour.png" alt="Webonise Geek Hour" />
      </td>
    </tr>   
    <tr>
      <td align="center" style="font-size: 16px;line-height: 24px;color: #fff;opacity:0.5;">
        Thank You for Registering.<br/>
        We will get back to you with a confirmation on your invite.
      </td>
    </tr>
    <tr>
      <td align="center" style="padding:20px 0  40px 0;font-size: 16px;line-height: 24px;color: #fff;opacity:0.5;">
        Get set to challenge your limits at "Geek Hours"</h3
      </td>
    </tr>

    <tr>
      <td align="center" style="padding: 16px 0 45px 0;font-size: 28px;line-height: 32px;color: #c8d400;text-transform: uppercase;">
        <img src="http://emailers.weboapps.com/Geek-emailer-2015/images/middleText.png" alt="Webonise Super Coder" /><br/>
        <h3 style="margin: 0;font-weight: normal;margin-top: 20px;font-size: 28px;line-height: 32px;padding: 0;">It's time to assemble!</h3>
      </td>
    </tr>

    <tr>
      <td align="center" style="padding: 18px 0 18px 0;font-size: 12px;line-height: 24px;color: #fff;border-top: 1px solid #c8d400;">
        <img src="http://emailers.weboapps.com/Geek-emailer-2015/images/webonise.png" alt="Webonise" /><br/>
        <div style="margin: 0;font-weight: normal;padding: 0;opacity:0.6;">Copyright&copy;2015 Geekhours</div>
      </td>
    </tr>
    
    
  </table> 
</body>
</html>