<html>
<head>
  <title>Geek Hours</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Email - invoice notification.psd) -->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620" >
  <tr>
    <td>
      <%#=image_tag(asset_path = "header.png", :alt => "registered successfully",:style => "vertical-align: bottom;")%>
    </td>
  </tr>
  <tr>
    <td style="background: #000000;color: #ffffff;padding: 30px 0">
      <p style="margin-left: 80px;margin-right: 80px;text-align: center;font-family: helveticaneue-light,arial;"><span style="font-weight: bold;font-size: 17px;">Your friend <%= @user%> has registered you for "GeekHours".</span>.<br />We will see you challenge your nerve and sinew at the "Geek hours" 3rd August,2013 Saturday 11.00 am to sunday 6.00 am.<br /> You may checkout "http://geekhours.webonise.com/" </p>
      <p style="margin-left: 80px;margin-right: 80px;text-align: center;font-family: helveticaneue-light,arial;">Hope to see you challenge your limits at the "Geek Hours"</p>
    </td>
  </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>