<h1>Thank You</h1>
<p>
  Thank you for registering with us!
  Can't wait to see you challenge your nerve and sinew at "Geek Hours"
  20th and 21st September, 2014
  Saturday 11:00 am to Sunday 11:00 am. <br />
</p>
