<h1>Thank You!</h1>
<p>
  Hey <%=@user.name %>,
  You have successfully for registered with us!<br />
  You will receive a confirmation email on the registered email address.</p><br />
  Can't wait to see you challenge your nerve and sinew at "Geek Hours"<br />
  20th - 21st September, 2014 <br />
  Saturday 11:00 am to Sunday 11:00 am. <br />
</p>
