
<section class='geekImage'>
      <div class="landingPage show">
        <div class="eventWrapper">
          <div class="geekLogo absolute"></div>
          <div class="eventDetails">
            <div class="geekLogo"></div>
            <div class="info">
              <h4>Thank you</h4>
              <p>
                Thank you for registering with us. <br>We will see you challenge your nerve and sinew at the "Geek Hours" 3rd August, 2012 Saturday 11:00 am to Sunday 6:00 am. 
              </p>
            </div>
          </div>
        </div>
        <div class="johnnieCoder"></div>
        <div class="footer">
          <a href="http://webonise.com" class="weboniseLogo"></a>
          <div class="copy">Copyright &copy; 2014 Geekhours</div>
        </div>
      </div>
    </section>