
<section class='geekImage'>
      <div class="landingPage show">
        <div class="eventWrapper">
          <div class="geekLogo absolute"></div>
          <div class="eventDetails">
            <div class="geekLogo"></div>
            <div class="info">
              <h4>Thank you!</h4>
              <p>
                Thank you for registering with us. <br>
                You will receive a confirmation email on the registered email address.<br>
                Can't wait to see you challenge your nerve and sinew at "Geek Hours" on 20th - 21st September, 2014 from 11:00 am to Sunday 11:00 am.
              </p>
            </div>
          </div>
        </div>
        <div class="johnnieCoder"></div>
        <div class="footer">
          <a href="http://webonise.com" class="weboniseLogo"></a>
          <div class="copy">Copyright &copy; 2014 Geekhours</div>
        </div>
      </div>
    </section>