<div id="pagepiling">
          <div class="section section5 thanks">
  <div class="outer">
    <div class="codersLogo"></div>
  </div>
  <div class="bottomContent clearfix">
    <div class="ghLogo"></div>
    <div class="inner"> 
      <div class="heading">THANK YOU!</div>
      <div class="desc">Thank you for registering with us.<br> 
You will receive a confirmation email on the registered email address.<br>
Can't wait to see you challenge your nerve and sinew at "Geek Hours" on 17th - 18st October, 2015 from 11:00 am to Sunday 11:00 am.</div>
    </div>
  </div>
  <div class="copy">
    <a href="http://webonise.com" target="_blank" class="weboLogo"></a>
    <div class="text">Geekhours &copy; 2015</div>
  </div>
</div>
</div>
<!-- <section class='geekImage'>
      <div class="landingPage show">
        <div class="eventWrapper">
          <div class="geekLogo absolute"></div>
          <div class="eventDetails">
            <div class="geekLogo"></div>
            <div class="info">
              <h4>Thank you!</h4>
              <p>
                Thank you for registering with us. <br>
                You will receive a confirmation email on the registered email address.<br>
                Can't wait to see you challenge your nerve and sinew at "Geek Hours" on 20th - 21st September, 2014 from 11:00 am to Sunday 11:00 am.
              </p>
            </div>
          </div>
        </div>
        <div class="johnnieCoder"></div>
        <div class="footer">
          <a href="http://webonise.com" class="weboniseLogo"></a>
          <div class="copy">Copyright &copy; 2014 Geekhours</div>
        </div>
      </div>
    </section> -->