
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Geek Welcome Emailer</title>
  <style type="text/css">
      body {
          font-family: arial;
      }

      table {
          border-collapse: collapse;
      }
  </style>
</head>
<body style="margin: 0;">
<table align="center" cellpadding="0" cellspacing="0" width="620" border="0" bgcolor="#6cc900" >
  <tr>
    <td colspan="2" style="text-align: right">
      <img src="http://emailers.weboapps.com/geek-welcome-emailer/images/web-logo.png" alt="Webonise Lab" />
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="padding-bottom: 20px;">
      <p style="margin: 0;font-size: 14px;line-height: 18px;">Hey Folks,</p>
      <p style="margin: 0;font-size: 14px;line-height: 18px;">We are glad to have you at GeekHours 2014!</p>
      <p style="margin: 0;font-size: 14px;line-height: 18px;">We are sure you're all geared up and excited for the event.</p>
      <p style="margin: 0;font-size: 14px;line-height: 18px;">Here is the schedule to pump up the excitement.</p>
    </td>
  </tr>
  <tr>
    <td>
      <img src="http://emailers.weboapps.com/geek-welcome-emailer/images/jonney-bottle.png" alt="Jonney Coder" />
    </td>
    <td style="vertical-align: top;">
      <img src="http://emailers.weboapps.com/geek-welcome-emailer/images/jonny-20sept.png" alt="Jonney Coder" />
      <table>
        <tr>
          <td style="padding-top:13px;padding-left:15px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;">9:30 AM - 10:30 AM</td>
          <td style="padding-top:13px;font-size: 14px;font-weight: bold;line-height: 26px;">: Registrations</td>
        </tr>
        <tr>
          <td style="padding-left:15px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;">10:30 AM - 11:00 AM</td>
          <td style="font-size: 14px;font-weight: bold;line-height: 26px;">: Tea</td>
        </tr>
        <tr>
          <td style="padding-left:15px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;">11:00 AM - 11:10 AM</td>
          <td style="font-size: 14px;font-weight: bold;line-height: 26px;">: Opening talk of the event</td>
        </tr>
        <tr>
          <td style="padding-left:15px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;">1:30 PM - 2:30 PM</td>
          <td style="font-size: 14px;font-weight: bold;line-height: 26px;">: Lunch</td>
        </tr>
        <tr>
          <td style="padding-left:15px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;">5:30 PM - 6:00 PM </td>
          <td style="font-size: 14px;font-weight: bold;line-height: 26px;">: High tea</td>
        </tr>
        <tr>
          <td style="padding-bottom:20px;padding-left:15px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;">9:00 PM </td>
          <td style="padding-bottom:20px;font-size: 14px;font-weight: bold;line-height: 26px;">: Dinner</td>
        </tr>
      </table>
      <img src="http://emailers.weboapps.com/geek-welcome-emailer/images/jonny-21sept.png" alt="Jonney Coder" />
      <table>
        <tr>
          <td style="padding-top:13px;padding-bottom:20px;padding-left:15px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;">7:00 AM </td>
          <td style="padding-top:13px;padding-bottom:20px;font-size: 14px;font-weight: bold;line-height: 26px;">: Demo for the projects</td>
        </tr>
      </table>
      <img src="http://emailers.weboapps.com/geek-welcome-emailer/images/jonny-mates.png" alt="Jonney Coder" />
      <table>
        <tr>
          <td style="padding-left:15px;padding-top:13px;padding-right: 15px;font-size: 14px;font-weight: bold;line-height: 26px;"><%= @user.name %></td>
        </tr>
        <% if @secondary_users.present? %>
            <% @secondary_users.each do |secondary_user|%>
                <tr>
                  <td style="padding-left:15px;font-size: 14px;font-weight: bold;line-height: 26px;"><%= secondary_user.name %></td>
                </tr>
            <% end %>
        <% end%>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;padding-top: 20px;padding-bottom: 60px;">
      <p style="margin: 0;font-size: 14px;line-height: 18px;">We all hope you have put your Johnnie Coder hats on and are as excited to be</p>
      <p style="margin: 0;font-size: 14px;line-height: 18px;padding-bottom: 30px;">here as much as we are to have you at GeekHours 2014!</p>
      <p style="margin: 0;font-size: 14px;line-height: 18px;">Cheers to Coding!</p>
      <p style="margin: 0;font-size: 14px;line-height: 18px;">Team Geek Hours</p>
    </td>
  </tr>
</table>
</body>
</html>