<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Webonise - Geek Hours 2015</title></title>
    </head>
    <body style="padding:0; margin:0;">
  <table width="620" border="0" cellpadding="0" cellspacing="0" align="center" style="background: url('http://emailers.weboapps.com/Geek-emailer-2015/images/emailBg.jpg');background-size: cover;font-family:sans-serif,Arial,Helvetica;">
    
    <tr>
      <td style="padding:60px 0 40px 80px;width:193px;">
        <img src="http://emailers.weboapps.com/Geek-emailer-2015/images/geek-hour-1.png" alt="Geek Hour" />
      </td>
      <td  style="padding:60px 0 0 0;vertical-align:top;font-family:sans-serif,Arial,Helvetica;color:#fff;">
        <br/>
        <img src="http://emailers.weboapps.com/Geek-emailer-2015/images/super-coder.png" alt="Super Coder" /><br>
        <p style="font-size:24px;margin:0;line-height: 30px;color:#c8d400;text-transform: uppercase;">IT'S TIME TO ASSEMBLE!</p>

      </td>
    </tr>
    <tr>
      <td align="center" colspan="2" style="padding: 0 65px;font-family:sans-serif,Arial,Helvetica;color:#fff;">
        <p style="font-size: 26px;line-height:34px;font-weight: 600;margin-top:0;">17<sup style="font-size: 14px;">th</sup> TO 18<sup style="font-size: 14px;">th</sup> OCT 2015,<br/> @ WEBONISE, PUNE, INDIA</p>
        <p style="font-size: 16px;line-height: 24px;">SAT 09:30 am Onwards...</p>
        <p style="font-size: 16px;line-height: 24px;">Let us rise by lifting others!!!<br/>
The theme for our upcoming Geek Hours an 18-hour hackathon is<br/>"Social Cause"<br/>
Hurry up and get your team registered and participate in building something great through technology that may serve society at large.<br/>
Registration for entries is open and here is the link<br/><br/>
<a href="http://geekhours.weboniselab.com/" target="_blank" style="font-size: 18px;color: #c8d400;font-weight: 400;">Geekhours.weboniselab.com</a>
  <br/><br/>
</p>


      </td>
    </tr>   
    

    <tr>
      <td colspan="2" align="center" style="padding: 18px 0 18px 0;font-size: 12px;line-height: 24px;color: #fff;border-top: 1px solid #c8d400;">
        <img src="http://emailers.weboapps.com/Geek-emailer-2015/images/webonise.png" alt="Webonise" /><br/>
        <div style="margin: 0;font-weight: normal;padding: 0;opacity:0.6;">Copyright &copy; 2015 Geekhours</div>
      </td>
    </tr>
    
    
  </table> 
</body>
</html>