<html>
<head>
  <title>Geek Hours 2014</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Email - invoice notification.psd) -->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="620" >
  <tr>
    <td style="background: url('http://emailers.weboapps.com/Geek-emailer/images/body-bg.png') no-repeat; height: 610px;text-align: center;color: #bababa;font-size: 16px;font-family: arial;">
      <p>Hello Guys!</p>
      <p>Webonise Lab is proud to announce GeekHours 2014! Geek Hours is a 24 hour hackathon, where you put the 'Geek' inside you to test. Geek Hours is all about challenging your creativity and building on your innovative ideas.</p>
      <p>For the true techies, bring that idea you have had in your mind for a long time into the open and let it breathe. Make it real! Make it happen!</p>
      <p>Feel free to do so at Geek Hours 2014 solo or with your friends and colleagues.</p>
      <p>Pull a Johhnie Coder and have some fun.. and who knows, you could win some prizes too!</p>
    </td>
  </tr>
  <tr>
    <td style="background: url('http://emailers.weboapps.com/Geek-emailer/images/footer.png') no-repeat;color: #ffffff;height: 90px;">
      <p style="font-size: 12px;color: #7f7f7f;text-align: center;padding-top: 40px;">Copyright © 2014 Geekhours</p>
    </td>
  </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>
