body{
    padding: 50px 0 0;
}
#teamWrapper .control-label {
    margin-right: 5px;
}
#teamWrapper .control-group {
    float: left;
    margin-right: 20px;
}
.name-field, .email-field {
    float: left;
    margin-right: 20px;
}
.email-field {
    margin-right: 10px;
}
/*.team-content {*/
    /*background: red;*/
/*}*/
.create-team-content .team-content li {
    display: none;
    overflow: hidden;
}
.create-team-content .team-content li:first-child {
    display: block;
}
.create-team-content .team-content li:first-child .deleteUser{
    display: none;
}
.create-team-content .team-content li:last-child .addUser{
    display: none;
}
.team-content li a{
    line-height: 70px;
}
.team-content li {
    list-style: none;
}

.catchaCnt{
    margin: 0 0 20px;
}
.catchaCnt .simple_captcha_label{
   display: none;
}
.catchaCnt::-webkit-input-placeholder {
    color: #fff;
}

.description{
    width: 50%;
}
.textAlign{
    text-align: center;
}

.LV_validation_message{
    font-color:red;
}


.LV_invalid {
    color:#CC0000;
}

.LV_valid
{
    display: none;
}
.userInfo th, .userInfo td{
    text-align: center;
}


