#teamWrapper .control-label {
    margin-right: 5px;
}
#teamWrapper .control-group {
    float: left;
    margin-right: 20px;
}
.name-field {
    float: left;
    margin-right: 30px;
}
/*.team-content {*/
    /*background: red;*/
/*}*/
.create-team-content .team-content li {
    display: none;
}
.create-team-content .team-content li:first-child {
    display: block;
}